[commit]
	message = n
[merge]
	allow = true
[vrun]
	silent = false
	async = false
[deploy]
	host = localhost
	path = ~/myproject/git/interview/leetcode_solutions
[remote "origin"]
    url = git@github.com:huangyingw/leetcode_solutions.git 
    fetch = +refs/heads/*:refs/remotes/origin/*
[gsync]
    remote = origin
    branch = master
