[submodule "EachenKuang/LeetCode"]
    path = EachenKuang/LeetCode
    url = git@github.com:huangyingw/eachenkuang_leetcode.git 
[submodule "Garvit244/Leetcode"]
    path = Garvit244/Leetcode
    url = git@github.com:huangyingw/Garvit244_Leetcode.git 
[submodule "QuenLo/LeetCode-share"]
    path = QuenLo/LeetCode-share
    url = git@github.com:huangyingw/LeetCode-share.git 
[submodule "anantkaushik/leetcode"]
    path = anantkaushik/leetcode
    url = git@github.com:huangyingw/anantkaushik_leetcode.git 
[submodule "clairett/Leetcode-Python"]
    path = clairett/Leetcode-Python
    url = git@github.com:huangyingw/Leetcode-Python.git 
[submodule "jakehoare/leetcode"]
    path = jakehoare/leetcode
    url = git@github.com:huangyingw/jakehoare_leetcode.git 
[submodule "qiyuangong/leetcode"]
    path = qiyuangong/leetcode
    url = git@github.com:huangyingw/qiyuangong_leetcode.git 
